spring:
  thymeleaf:
    mode: HTML
  datasource:
    url: jdbc:mysql://localhost:3306/pokemon
    driver-class-name: com.mysql.jdbc.Driver
    username: user
    password: password
  main:
    allow-bean-definition-overriding: true
  redis:
    host: localhost
    port: 6379
  mail:
    host: localhost
    port: 1025

jpa:
  open-in-view: true
  generate-ddl: true
  hibernate:
    ddl-auto: create-drop
  properties:
    hibernate:
      show-sql: true
      format_sql: true
      use_sql_comments: true
      generate_statistics: false

server:
  port: 8090
  servlet:
    context-path: /api
